<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta name="description" content="Demo project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
    {{> header}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, itaque.</p>

    {{> footer}}

  </body>
</html>
